{#
/**
 * @file pays.html.twig
 * Default theme implementation to present Pays data.
 *
 * This template is used when viewing Pays pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pays()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pays') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
